<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <% if @tweets %>
    <% @tweets.each do |tweet| %>
      <%= tweet.content %> <br>
    <%end%>
    <%= @time_past %>
  <%end%>
</div>
